li {
    background: #faebd7;
    color: black;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .bananatext {
    font-family: garamond;
  }
  
  .label {
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 5px;
  }